@page
@model TallerAutos.App.Frontend.Pages.ConsultarRevisiones
@{
    ViewData["Title"] = "Consultar Revisiones";
}

@Html.Partial("_navView");

<div>
        <label for="IdSearch">Buscar: </label>
        <input type="text" id="IdSearch">
</div>