@page
@model TallerAutos.App.Frontend.Pages.ConsultarRevisiones
@{
    ViewData["Title"] = "Consultar Revisiones";
}

@Html.Partial("_navView");

<div class="conteinerDiv">
    <div class="divConteiner">
        <div class="divImg">
            <img src="~/images/carBackground.jpg" alt="">
        </div>
        <div class="divForm">
            <form>
                <label for="IdSearch">Buscar: </label>
                <input type="text" id="IdSearch">
                <input type="submit" value="Buscar">
            </form>
        </div>
    </div>
</div>