@page
@model TallerAutos.Frontend.Pages.RegistrarVehiculo
@{
    ViewData["Title"] = "Registrar Vehiculo";
}

<h1>@ViewData["Title"]</h1>

<div>
    <form>
        <label for="IdCar">Placa: </label>
        <input type="text" id="IdCar">
        <label for="modelCar">Modelo: </label>
        <input type="text" id="modelCar">
        <label for="MarcaCar">Marca: </label>
        <input type="text" id="MarcaCar">
        <label for="ColorCar">Color: </label>
        <input type="text" id="ColorCar">

        
            <div class="divInput">
                <label for="typeCar">Tipo de auto: </label>
                    <select id="estado">
                        <option>Seleccione una opcion</option>
                        <option>Auto</option>
                        <option>Camioneta</option>
                    </select>
            </div>
            <input type="submit" value="Registrar">
    </form>
</div>