@page
@model TallerAutos.Frontend.Pages.RegistrarRevisiones
@{
    ViewData["Title"] = "Registrar Revisiones";
}


@Html.Partial("_navView");
<div class="conteinerDiv">

    <div class="divConteiner">
        <div class="divImg">
            <img src="~/images/carBackground.jpg" alt="">
        </div>
        <div class="divForm">
            <form class="form">
                <div class="">
                    <div class="divInput">
                        <label for="cliente">Nombre cliente: </label>
                        <input type="text" id="cliente" placeholder="digite un nombre">
                    </div>
                    <div class="divInput">
                        <label for="vehiculo">Vehiculo: </label>
                        <select id="vehiculo">
                            <option>Seleccione una opcion</option>
                        </select>
                    </div>
                    <div class="divInput">
                        <label for="fecha">Fecha de revision: </label>
                        <input type="date" id="fecha">
                    </div>
                    <div class="divInput">
                        <label for="estado">Estado de la revision: </label>
                        <select id="estado">
                            <option>Seleccione una opcion</option>
                            <option>Completado</option>
                            <option>En Revision</option>
                            <option>Diagnostico</option>
                        </select>
                    </div>
                </div>


                <div class="divInput">
                    <label for="descripcion">Descripcion de la revision: </label>
                    <textarea id="descripcion"></textarea>
                </div>

                <div class="divInput">
                    <label for="cantidad">Cantidad de Repuestos: </label>
                    <input type="number" name="" id="cantidad">
                </div>
                <div class="divInput">
                    <label for="repuesto">Descripcion del repuesto: </label>
                    <input type="text" id="repuesto">
                </div>
                <div class="listRepuestos">
                    <input type="button" value="Añadir Repuesto" id="addBtn">
                    <table id="tableRepuestos">
                        <thead>
                            <tr>
                                <th>Cantidad</th>
                                <th>Descripcion</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
                <div class="divBtn">
                    <input type="submit" value="Enviar Revision" id="submitBtn">
                </div>

            </form>
        </div>
    </div>
</div>
<script src="~/js/addRepuesto.js"></script>