
<nav class="nav">
    <ol>
        <li><a href="/views/RegistrarRevisiones">Registrar Revisiones</a></li>
        <li><a href="/views/ConsultarRevisiones">Consultar Revisiones</a></li>
        <li><a href="/views/ConsultarCliente">Consultar Clientes</a></li>
        <li><a href="/">Salir</a></li>
    </ol>
</nav>