<nav class="nav">
    <ol>
        <li><a href="/views/RegistrarVehiculo">Registrar Vehiculo</a></li>
        <li><a href="/views/ConsultarEstadoVehiculo">Consultar Estado del Vehiculo</a></li>
        <li><a href="/">Salir</a></li>
    </ol>
</nav>